@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 31, 41, 55;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  max-width: 100vw;
  overflow-x: hidden;
}

/* Кастомные стили */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #6d28d9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}

/* Скрываем горизонтальный скролл */
html {
  overflow-x: hidden;
}

/* Ограничение максимальной ширины для очень больших экранов */
.container {
  max-width: 1536px; /* xl: 1280px, 2xl: 1536px */
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}